apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: netbox
resources:
  - namespace.yaml
  - ../postgres
  - ../redis
  - configmap.yaml
  - media.yaml
  - reports.yaml
  - scripts.yaml
  - worker.yaml
  - server.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: docker.io/netboxcommunity/netbox
    newName: ghcr.io/ffddorf/netbox-kubernetes
    newTag: v4.4.6-931828b
